.input-container{
    /* position: relative; */
    /* width: 100%; */
}

.input-container__info{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.input-container__error{
    border: 1px solid #dc3545 !important;
    color: #dc3545;
}

.input-container__error-message{
    margin-left: 20px;
    color: #dc3545 ;
}

.input-container__search{
    width: 400px;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.14);
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    background-color: white;
    /* display: none; */
    transition: all 0.3s ease;
    max-height: 200px;
    overflow: auto;
}

.input-container__search__item{
    height: 40px;
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

.input-container__search__item:hover{
    background-color: #CFD8DC;
    color: #0F172B;
    cursor: pointer;
}