.bill-container{
    width: 90%;
    height: 100%;

    background-color: #0F172B ;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    max-width: 1320px;
}

.bill-container__header{
    height: 50px;
    width: 100%;

    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
}

.bill-container__title{
    font-size: 2rem;
    color: #b7b9bf;
    font-family: "Nunito",sans-serif;
    font-weight: 800;
    line-height: 1.2;
}

.bill-container__tool-bar{
    display: flex;
    flex-direction: row;

    align-items: center;
}

.bill-container .dropdown-container__header__icon {
    /* color: #b7b9bf !important; */
}

.bill-container-filter{
    width: 150px !important;
    height: 30px !important;
    border: 1px solid #b7b9bf !important;
}

.bill-container-dropdown{
    margin-right: 10px !important;
}

.bill-container__search{
    display: flex;
    flex-direction: row;

    align-items: center;
}

.bill-container__input-search{
    height: 30px;
    width: 220px;

    border: none;
    border-radius: 6px;
    margin-right: 10px;
    margin-left: 10px;

    background-color: #b7b9bf;
}

.bill-container__input-search:focus{
    outline: none;
}

.bill-container__button-search{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 6px;
    background-color: #FEA116;

    color: white;

    margin-right: 10px;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.bill-container__content{
    width: 100%;
    height: calc(100% - 50px);

    max-width: 1320px;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;

    background-color: #b7b9bf    !important;
    border-radius: 10px;
    padding: 10px;
}

.bill-container__add{
    width: max-content;
    height: 30px;
    border: none;
    border-radius: 6px;
    background-color: #00796B;

    color: white;

    margin-right: 10px;
    font-weight: 500;
    font-family: "Nunito",sans-serif;
}

.bill-container__paginition{
    height: 50px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end !important;
}

.bill-container__action{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    background-color: #b7b9bf    !important;
}

.bill-container__action-button{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 6px;
    background-color: #FEA116;

    color: white;

    margin-right: 10px;
}

.ant-table-cell-scrollbar{
    background-color: #0F172B !important;
}

/* .customer-container__paginition button, span{
    color: white !important;
}

.customer-container__paginition a{
    color: white !important;
}

.customer-container__paginition li{
    
} */

/* .ant-pagination-item-active{
    background-color: #FEA116 !important;
    color: white !important;
    border: none !important;
}


.ant-pagination-total-text{
    color: white !important;
}

.ant-pagination-options-quick-jumper{
    color: white !important;
}

.ant-select-selection-item{
    color: #0F172B !important;
}

.ant-select-selection{
    border: none !important;
    color: #0F172B !important;
}

.ant-select-arrow{
    color: #0F172B !important;
} */