.select-dish-container{
    width: 100%;
    min-height: 400px;
}

.select-dish-container__search{
    width: 100%;

    display: flex;
    flex-direction: row;
}

.select-dish-container__search input{
    width: 300px;
    height: 30px;
    border: 1px solid #BDBDBD;
    border-radius: 6px;
    padding: 5px;
    box-sizing: border-box;
    margin-left: 10px;
}

.select-dish-container__search button{
    width: 150px;
    height: 30px;
    margin-left: 10px;
    border: 1px solid #BDBDBD;
    border-radius: 6px;
    padding: 5px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.select-dish-container__content{
    margin-top: 10px;

    max-height: 60vh;
    overflow: auto;
}

.select-dish-container__content .dish-container{
    width: 100% !important;
}