.dish-container{
    width: calc(50% - 10px);
    height: 100px;

    background-color: #b7b9bf;

    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;

    margin-top: 10px;
}

.dish-container__avatar{
    width: 80px;
    height: 80px;
    margin-right: 20px
}

.dish-container__content{
    width: 100%;

    display: flex;
    flex-direction: column;
}

.dish-container__top{
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-between !important;
    padding: 0.5rem !important;
    border-bottom: 1px solid #0F172B !important;
}

.dish-container__name{
    font-family: "Nunito",sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: #0F172B;
    font-size: 1.25rem;
    box-sizing: border-box;
}

.dish-container__price{
    color: #DC4C64 !important;
    font-size: 1.25rem;
    font-family: "Nunito",sans-serif;
    font-weight: 800;
    line-height: 1.2;
}

.dish-container__bottom{
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-between !important;
    padding: 0.5rem !important;
}

.dish-container__add{
    width: max-content;
    height: 30px;
    border: none;
    border-radius: 6px;
    background-color: #0F172B;

    color: white;
}