.create-form-menu-container{
    width: 100%;
    height: 300px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Nunito",sans-serif;
    font-size: 14px;
}

.create-form-menu-container__line{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-top: 10px;
    margin-bottom: 10px;
}

.create-form-menu-container__line__lable{
    width: 100px;
    text-align: left;
    font-weight: 500;

    color: #0F172B;
}


.create-form-menu-container__line input{
    width: 400px;
    border: 1px solid #BDBDBD;
    border-radius: 6px;
    padding: 5px;
    box-sizing: border-box;
}

.create-form-menu-container__line input:focus{
    background-color: #CFD8DC;
    outline: none;
    border: 1px solid #0F172B;
    box-sizing: border-box;
}

.dropdown-container {
    width: 400px;
}